*.pacnew
*.pacsave
*.pacorig
/~/.vim/bundle
/~/.config/qutebrowser/qsettings/
!~
/.flagged
/etc/systemd/*/*.wants/
/~/.config/zsh/.zcompdump*
/~/.zsh/zcompcache/
/~/.config/vimperator/info/
__pycache__/
*.py[cod]
