---
BasedOnStyle: LLVM
IndentCaseLabels: false
---
Language: Cpp
IndentWidth: 8
UseTab: Always
BreakBeforeBraces: Linux
AllowShortIfStatementsOnASingleLine: false
---
Language: Java
IndentWidth: 4
UseTab: Always
---
Language: JavaScript
ColumnLimit: 100
UseTab: Never
IndentWidth: 2
AlignConsecutiveAssignments: true
AllowShortBlocksOnASingleLine: false
AllowShortIfStatementsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Empty
...

