prefix = "${HOME}/.node"

init-author-email = "bmoez.j@gmail.com"
init-author-name = "Moez Bouhlel"
init-author-url = "http://lejenome.github.io"
init-license = "MIT"
init-version = "0.1.0"

tmp = "/tmp"
unicode = true
color = true
editor = "/usr/bin/vim"
git = "git"
browser = "/usr/bin/firefox"
viewer = "man"
