prefix = "${HOME}/.local"
cache = "${XDG_CACHE_HOME}"

init-author-email = "bmoez.j@gmail.com"
init-author-name = "Moez Bouhlel"
init-author-url = "http://lejenome.github.io"
init-license = "MIT"
init-version = "0.1.0"

unicode = true
color = true
browser = "${BROWSER}"
viewer = "man"
global = true
