! vim: set filetype=xdefaults :
*foreground: #D7D0C7
*background: #151515

!black
! *color0:     #AF875F
! *color8:     #AF875F
*color0:     #101010
*color8:     #404040
!red
*color1:     #E84F4F
*color9:     #D23D3D
!green
*color2:     #90A85E
*color10:    #A0CF5D
!yellow
*color3:     #E1AA5D
*color11:    #F39D21
!blue
*color4:     #6DB1BF
*color12:    #4E9FB1
!magenta
*color5:     #9B64FB
*color13:    #8542FF
!cyan
*color6:     #6D878D
*color14:    #42717B
!white
*color7:     #dddddd
*color15:    #dddddd

URxvt*borderColor:        #151515
URxvt*colorBD:            #ffffff
URxvt*cursorColor:        #ff8939
URxvt*cursorColor2:       #151515

URxvt.scrollBar: false
URxvt*saveLines:0
URxvt.iso14755 : false
URxvt*fading: 10
!URxvt.perl-ext:
URxvt.perl-ext-common: font-size
URxvt.keysym.M-Up:     font-size:increase
URxvt.keysym.M-Down:   font-size:decrease
URxvt.keysym.M-S-Up:   font-size:incglobal
URxvt.keysym.M-S-Down: font-size:decglobal
!URxvt.lineSpace: 1
!URxvt.letterSpace : -1

Xft.lcdfilter : lcddefault
Xft.autohint : false
Xft.hintstyle : hintfull
Xft.hinting : true
Xft.antialias : true
Xft.rgba : rgb
Xft.dpi: 96

!URxvt*font :     *-*-fixed-medium-r-normal--11-*-100-100-*-*-iso8859-1,xft:Icons:8
!URxvt*boldFont :   *-*-fixed-bold-r-normal--*-11-*-100-100-*-*-iso8859-1,xft:Icons:8
!URxvt*italicFont :   *-*-*-medium-i-normal-*-8-*-*-*-*-*-*-*,xft:Icons:8

URxvt*font:	xft:SourceCodePro-ExtraLight:pixelsize=10,xft:Sauce Code Pro ExtraLight
!		xft:WenQuanYi Zen Hei-10:medium;antialias=True,\
!		xft:HanaMinA-10:medium;antialias:True,\
!		xft:HanaMinB-10:medium;antialias:True,\
!		xft:HanaMinPlus-10:medium;antialias:True
!URxvt*font: xft:SourceCodePro-ExtraLight:pixelsize=10
URxvt.letterSpace : -1
URxvt.lineSpace: 0

!URxvt*font: xft:Terminus:pixelsize=9,xft:Inconsolata\ for\ Powerline:pixelsize=9
!URxvt.lineSpace: 1
!URxvt.letterSpace : -1

!URxvt.font : xft:ProFont:pixelsize=8
!URxvt.lineSpace: 1
!URxvt.letterSpace : -2

!URxvt.font : xft:Cousine:pixelsize=10
!URxvt.lineSpace: 0
!URxvt.letterSpace : 0

!URxvt.font : xft:Anonymous Pro:pixelsize=10
!URxvt.lineSpace: 0
!URxvt.letterSpace : 1

!Tango colors
! ! black
! *color0:  #2E3436
! *color8:  #555753
! ! red
! *color1:  #a40000
! *color9:  #EF2929
! ! green
! *color2:  #4E9A06
! *color10: #8AE234
! ! yellow
! *color3:  #C4A000
! *color11: #FCE94F
! ! blue
! *color4:  #3465A4
! *color12: #729FCF
! ! purple
! *color5:  #75507B
! *color13: #AD7FA8
! ! orange (replaces cyan)
! *color6:  #ce5c00
! *color14: #fcaf3e
! ! white
! *color7:  #babdb9
! *color15: #EEEEEC
