! vim: set filetype=xdefaults :
*foreground: #D7D0C7
*background: #151515

!black
! *color0:     #AF875F
! *color8:     #AF875F
*color0:     #101010
*color8:     #404040
!red
*color1:     #E84F4F
*color9:     #D23D3D
!green
*color2:     #B8D68C
*color10:    #A0CF5D
!yellow
*color3:     #E1AA5D
*color11:    #F39D21
!blue
*color4:     #7DC1CF
*color12:    #4E9FB1
!magenta
*color5:     #9B64FB
*color13:    #8542FF
!cyan
*color6:     #6D878D
*color14:    #42717B
!white
*color7:     #dddddd
*color15:    #dddddd

URxvt*borderColor:        #151515
URxvt*colorBD:            #ffffff
URxvt*cursorColor:        #ff8939
URxvt*cursorColor2:       #151515

URxvt.scrollBar: false
URxvt*saveLines:10000
URxvt.iso14755 : false
URxvt*fading: 20
!URxvt.lineSpace: 1
!URxvt.letterSpace : -1

!-*- Perl extensions -*-
URxvt.perl-ext-common:default,clipboard,matcher,keyboard-select
URxvt.keysym.M-u:     perl:url-select:select_next
URxvt.url-launcher:   /usr/bin/firefox
URxvt.underlineURLs:  True
URxvt.matcher.button: 1
URxvt.keysym.M-Escape:perl:keyboard-select:activate
URxvt.keysym.M-c:     perl:clipboard:copy
URxvt.keysym.M-v:     perl:clipboard:paste
URxvt.keysym.M-C-v:   perl:clipboard:paste_escaped
URxvt.copyCommand:   xsel -ib
URxvt.pasteCommand:  xsel -ob


!URxvt*font: xft:Terminus:pixelsize=10,xft:Inconsolata\ for\ Powerline:pixelsize=10
!URxvt.font : xft:Cousine:pixelsize=10
URxvt*font :     *-*-fixed-medium-r-normal--11-*-100-100-*-*-iso8859-1,xft:Icons:8
URxvt*boldFont :   *-*-fixed-bold-r-normal--*-11-*-100-100-*-*-iso8859-1,xft:Icons:8
URxvt*italicFont :   *-*-*-medium-i-normal-*-8-*-*-*-*-*-*-*,xft:Icons:8
Xft.lcdfilter : lcddefault
Xft.hintstyle : hintslight
Xft.hinting : true
Xft.antialias : true
Xft.rgba : rgb
Xft.dpi: 96

!Tango colors
! ! black
! *color0:  #2E3436
! *color8:  #555753
! ! red
! *color1:  #a40000
! *color9:  #EF2929
! ! green
! *color2:  #4E9A06
! *color10: #8AE234
! ! yellow
! *color3:  #C4A000
! *color11: #FCE94F
! ! blue
! *color4:  #3465A4
! *color12: #729FCF
! ! purple
! *color5:  #75507B
! *color13: #AD7FA8
! ! orange (replaces cyan)
! *color6:  #ce5c00
! *color14: #fcaf3e
! ! white
! *color7:  #babdb9
! *color15: #EEEEEC
