[Unit]
Description=Aria2 User Service by %u
After=network.target

[Service]
ExecStart=/home/lejenome/.local/bin/aria2c-daemon

[Install]
WantedBy=default.target
