[Unit]
Description=Get mails using getmails command
JobTimeoutSec=2min

[Service]
ExecStart=/home/lejenome/.local/bin/getmails
Nice=19
IOSchedulingClass=best-effort
IOSchedulingPriority=7

[Install]
WantedBy=default.target
