[Unit]
Description=3H clean and update newsboat feeds

[Timer]
OnBootSec=4min
OnUnitActiveSec=180min
Persistent=true

[Install]
WantedBy=default.target
