[Unit]
Description=3H clean and update newsbeuter feeds

[Timer]
OnBootSec=1min
OnUnitActiveSec=180min
Persistent=true

[Install]
WantedBy=default.target
