[Unit]
Description=Clean and update newsboat feeds
JobTimeoutSec=2min

[Service]
ExecStartPre=/usr/bin/newsboat -X
ExecStart=/usr/bin/newsboat -x reload
Nice=19
IOSchedulingClass=best-effort
IOSchedulingPriority=7

[Install]
WantedBy=default.target
