[Unit]
Description=Get mails using getmails command
JobTimeoutSec=2min

[Service]
ExecStart=/usr/bin/getmails
User=lejenome
Group=lejenome
Nice=19
IOSchedulingClass=best-effort
IOSchedulingPriority=7
