[Unit]
Description=VMware USB Arbitrator
After=vmware-modconfig.service

[Service]
ExecStart=/etc/init.d/vmware-USBArbitrator start
ExecStop=/etc/init.d/vmware-USBArbitrator stop

[Install]
WantedBy=multi-user.target
