[Unit]
Description=VMware modules rebuild
Before=vmware-modconfig.service

[Service]
ExecStart=/usr/bin/vmware-modconfig --install-all
Type=oneshot

[Install]
WantedBy=multi-user.target
